@model IEnumerable<SVG.App.ViewModels.OperacaoViewModel>

@{
    ViewData["Title"] = "View";
}

<h1>View</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataHora)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Objeto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Coordenador)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QtdEquipe)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoOperacaoID)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataHora)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Objeto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Coordenador)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QtdEquipe)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoOperacaoID)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
